@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-sora);

  --color-background: var(--bg);
  --color-background-2: var(--bg-2);
  --color-background-3: var(--bg-3);
  --color-background-4: var(--bg-4);

  --color-foreground: var(--fg);
  --color-foreground-2: var(--fg-2);
  --color-foreground-3: var(--fg-3);
  --color-foreground-4: var(--fg-4);

  --color-cta-fg: var(--black);
  --color-saved-white: var(--white);
  --color-background-transparent: var(--bg-transparent);

  --color-main: var(--primary);
  --color-main-dark: var(--primary-dark);
  --color-main-light: var(--primary-light);

  --color-infos: var(--info);
  --color-success: var(--succes);
  --color-warn: var(--warning);
  --color-err: var(--error);
}

:root {
  /* Primitives colors */
  --black: #070421;
  --black-2: #181532;
  --black-3: #312d4d;
  --black-4: #464169;

  --white: #f3f3fa;
  --white-2: #eaeaef;
  --white-3: #dddde4;
  --white-4: #c7c7d7;
 
  --bg-transparent: #46416935;
  --content-saver-down: linear-gradient(0deg,rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.25) 100%);
  --content-saver-up: linear-gradient(180deg,rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.25) 100%);

  --primary: #d0fc16;
  --primary-dark: #b6dc09;
  --primary-light: #e8ff8d;

  --info: #2b7fff;
  --succes: #00c951;
  --warning: #ff6900;
  --error: #ec003f;

  /* Light Mode */
  --fg: var(--black);
  --fg-2: var(--black-2);
  --fg-3: var(--black-3);
  --fg-4: var(--black-4);

  --bg: var(--white);
  --bg-2: var(--white-2);
  --bg-3: var(--white-3);
  --bg-4: var(--white-4);
}

.dark {
  /* Dark Mode */
  --fg: var(--white);
  --fg-2: var(--white-2);
  --fg-3: var(--white-3);
  --fg-4: var(--white-4);

  --bg: var(--black);
  --bg-2: var(--black-2);
  --bg-3: var(--black-3);
  --bg-4: var(--black-4);
}

html {
  scroll-behavior: smooth
}
body {
  @apply font-sans;
}

@layer components {
  .display {
    @apply text-5xl font-extrabold;
  }

  .h1 {
    @apply text-5xl font-bold;
  }

  .h2 {
    @apply text-3xl font-bold;
  }

  .h3 {
    @apply text-xl font-bold;
  }

  .h4 {
    @apply text-lg font-semibold;
  }

  .h5 {
    @apply text-base font-semibold;
  }

  .cta {
    @apply text-lg font-normal;
  }

  .large-p {
    @apply text-lg font-normal;
  }

  .p {
    @apply text-base font-normal;
  }

  .small-p {
    @apply text-sm font-normal;
  }

  .overlined {
    @apply text-sm font-semibold uppercase;
  }

  .caption {
    @apply text-sm font-semibold;
  }

  .small-caption {
    @apply text-xs font-light;
  }

  .input {
    @apply placeholder:text-foreground-3 w-full rounded-md border-2 border-background-4 bg-background-2 px-4 py-2 text-sm font-normal text-foreground-3 transition-all duration-200 ease-in outline-0
  }
  .input:hover {
    @apply bg-background-3 border-2 border-foreground-3
  }
  .input:focus {
    @apply bg-background border-foreground text-foreground
  }
  .input:disabled {
    @apply bg-background-4 border-2 border-background-4 cursor-not-allowed
  }

  .checkbox {
    @apply size-5 appearance-none rounded-sm border border-foreground-3 bg-background transition-all duration-200 ease-in
  }
  .checkbox:hover {
    @apply bg-background-3 cursor-pointer
  }
  .checkbox:checked {
    @apply bg-main
  }
  .checkbox:disabled {
    @apply bg-background-4 border border-background-4 cursor-not-allowed
  }

  .file {
    @apply w-full h-full absolute top-0 left-0 opacity-0 cursor-pointer -z-10
  }

  .search-input {
    @apply w-full shadow-lg border border-background-3 rounded-full bg-background-2 px-16 py-4 text-foreground placeholder:text-foreground-3 transition-all duration-200 outline-none
  }
  .search-input:hover {
    @apply bg-background-3 border-background-4
  }
  .search-input:focus {
    @apply bg-background border border-foreground
  }
  .search-input:disabled {
    @apply bg-background-3 text-foreground-3 cursor-not-allowed
  }

  .no-scrollbar::-webkit-scrollbar {
    @apply hidden
  }
}